* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary:#004999;
    --bar:#237f2b;
    --tax:#397d4a;
}
body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: rgb(199, 199, 199);
}
main{
    display:flex;
    justify-content:space-around;
}
.Label {
    background-color: #004999;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin:0;
}

.Label:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.tax-bud {
    margin: 20px;
    padding: 20px;
    width: 30vw;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    
}

#dropdown{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.25rem;
    width:100%;
    padding:5% 0;
    height:20vh;
    z-index: 1;
}

#dropdown:hover {
    transform: scale(1.1);
}

th {
    border-radius: 1.25rem;
    background-color: var(--tax);
    color: white;
}

footer {
 background: var(--primary);
 padding: 2rem;
}

#footer-nav {
    display: flex;
    justify-content: space-evenly;
    
}

#left-Container {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#right-Container {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

#bottom-img-container {
    display: flex;
}

.bottom-A {
    list-style: none;
}

#sec-Bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

#semantic-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#left-Small {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#right-Small {
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#left-Small, #right-Small {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 1rem;
}

#top-Nav-Ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-Nav-Li {
    list-style: none;
}

#dropdowns {
    display: flex;
}

#input-DropDown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}